<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="SignIn And Login" >
        <classes>
            <class name="testcases.TC001_SignInButton" />
            <class name="testcases.TC003_Login" />
        </classes>
    </test>


</suite>
